/* Paramètres globaux */
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Shadows Into Light';
    src: url(fonts/ShadowsIntoLight-Regular.ttf);

}
*{
    margin: 0;                      /* J'ai mis la marge à 0 globalement car sinon
                                    le header ne s'affiche pas correctement.*/
    font-family: Montserrat;
    background-color: #362A44;
    color:#daddd8
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color:#63229F;
    height:4em;
    position:sticky;
    top:0
}

/* Le header s'adapte à la largeur de l'écran */
@media screen and (max-width: 625px) and (min-width: 420px){
  header {
    height:8em;
  }
}
@media screen and (max-width: 419px) {
  header {
    height:12em;
  }
}

/* headerlinkdiv contient deux items, le nav et la barre de recherche, qui sont
séparés le plus loins possible.*/
#headerlinkdiv{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    flex-wrap: wrap;
    background-color: #63229F;
}
.headerlinks{
    background-color: #63229F;
    text-decoration: none;
    padding:1em
}
#searchbarinput{
    overflow: hidden;
    background-color: #362A44;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding:0.5em;
    border-radius:2em;
}
footer{
    background-color: #63229F;
    height:4em;
}
main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:2em;
}

h1{
    font-family: 'Shadows Into Light';
    font-size: 32px;
    text-align: center;
    margin:1em
}
h2{
    font-family: 'Shadows Into Light';
    font-size:24px;
}
aside{
    font-size:14px;
    padding:1em;
    text-align:center;
}
/* La ligne qui divise les sujets */
.line{
    background-color: #daddd8 ;
    height: 2px;
    margin:2em;
    width:480
}

/* Index */

#logo{
    display:flex;
    justify-content: center;
    padding:1em;
}
#logo-img{
    width:480px
}

.accueil-layer1{
    display:flex;
    flex:1;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
}
.accueil-layer2{
    flex-basis:45%;
}
.tripleservice{
    flex-basis:28%
}
.fleursaccueil{
    object-fit: contain;
    height:200px;
    padding:0 1em;
    padding-top:1em;
    border-radius:15%
}

/* Entreprise */

.desc-equipe{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.desc-equipe-rev{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.desc-equipe-group{
    display:flex;
    flex-direction: inherit;
    justify-content: flex-start;
    flex-wrap:wrap;
}
.desc-equipe-texte{
    flex-basis:45%
}
.image-equipe{
    object-fit: contain;
    height:250px;
}
#photo6{
    width:30%;
    height:250px;
    object-fit: cover;
    object-position: 80% 0;
}

/* Formulaire contact */

label{
    background-color: transparent;
}
label, select, input{
    margin:0.5em
}
form{
    background-color:#63229F;
    padding:2em;
    border-radius: 1em;
}
#form{
    display: flex;
    justify-content: center;

}
textarea{
    width:100%;
    max-width: 600px;
    height:20em
}
select, textarea, input{
    padding:0.25em;
    border-radius:0.25em
}

/* Mosaïque réalisation */

#mosaic{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}
#column1{
    display:flex;
    flex-direction:column;
    justify-content:start
}
#column2{
    display:flex;
    flex-direction:column;
    justify-content:start
}
#column3{
    display:flex;
    flex-direction:column;
    justify-content:start
}
.mosaic{
    object-fit: contain;
    width: 200px;
    margin:0.25em
}